.form-group {
    position: relative !important;
    padding: 5px 0px 5px 0;
}

.error-class {
    position: absolute;
    bottom: -18px;
    color: red;
    font-size: 90%;
}

li a:hover,
li a:focus {
    text-decoration: none;
}


/*fix header and scrollable body*/

.content-scroll {
    position: relative;
    height: calc(100vh - 100px);
}

.timeline {
    border-bottom: 1px solid #e4e2e2;
    margin: 0 0 1px 0;
}

.inner-form-header {
    margin-top: 10px;
}

.progress-bar-wrap {
    padding: 5px 15px;
    background-color: #ececec;
    margin-bottom: 1px !important;
}

.custom-progress {
    margin-bottom: 0px !important;
    height: 10px;
}

.tabbing {
    border-top: 1px solid #f9a373;
    border-bottom: 1px solid #f9a373;
    margin-bottom: 1px;
}

.tabbing-list {
    overflow: auto;
    white-space: nowrap;
}

.tabbing-list .tab-list {
    display: inline-block;
    padding: 5px 0
}

.tabbing-list .tab-list .tab-link {
    display: block;
    padding: 5px;
}

.tabbing-list .tab-list.active {
    border-bottom: 1px solid red;
}

.tabbing-list .tab-list .tab-link.active {
    border-bottom: 1px solid red;
}

.nav-tabs{
    margin-bottom: 1px
}

.disabled {
    color: gray;
    cursor: default;
}


/**/

.timeline {
    width: 100%
}

.timeline-wrap {
    counter-reset: step
}

.timeline-wrap li {
    list-style: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center
}

.timeline-wrap li:before {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #ddd;
    content: '1';
    display: block;
    text-align: center;
    content: counter(step);
    counter-increment: step;
    margin: 0 auto 10px auto;
    line-height: 25px;
}

.timeline-wrap li:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1
}

.timeline-wrap li:first-child:after {
    content: none;
}

.timeline-wrap li.active {
    color: green
}

.timeline-wrap li.active:before {
    border-color: green
}

.timeline-wrap li.active + li:after {
    background-color: green
}

.timeline-wrap li button {}

;

/*user dashboard*/

.list-tab {}

ul.userdash-nav {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.userdash-nav li {
    display: inline-block
}

.userdash-nav li a {
    display: block;
    color: #fff;
    padding: 5px;
}

.userdash-nav li a.active {
    border-bottom: 2px solid #eac93a
}

.dashboard-content {
    position: relative;
    height: calc(100vh - 30px);
}
.second-timeline-head{
    
}
.user-form-wrap{
    margin-top: 60px
}