<ion-view>
    <div class="list-tab">
        <ul class="userdash-nav">
            <li class="userdash-list"><a class="userdash-anchor active">Home</a></li>
            <li class="userdash-list"><a class="userdash-anchor">Solution</a></li>
            <li class="userdash-list"><a class="userdash-anchor">App Tracker</a></li>
            <li class="userdash-list"><a class="userdash-anchor">Policy Tracker</a></li>
            <li class="userdash-list"><a class="userdash-anchor">Download</a></li>
        </ul>
    </div>
    <div class="dashboard-content">
        <ion-content>
            <div ui-view='user-dashboard-content'></div>
        </ion-content>
    </div>
</ion-view>