<ion-view>
    <ion-content>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" ng-model="LC.login.username" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" ng-model="LC.login.password" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="LC.loginUser()">Login</button>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="LC.goToRegister()">Register</button>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="LC.goToUserDash()">User Dashboard</button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>