<ion-view>
    <div class="bar bar-header">
        <div class="second-timeline">
            <pi-timeline></pi-timeline>
        </div>

    </div>
    <ion-content>
        <div class="user-form-wrap">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Fact Finder</h3>
                    </div>
                    <div class="panel-body">
                        <form name="factfinderForm" id="factfinderForm" novalidate>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Preffered Payout Option<span style="color:red">*</span></label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="payoption" value="Lumpsum Payout at Maturity" ng-model="FFC.factfinder.payOutOpt" required>Lumpsum Payout at Maturity</label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="payoption" value="Regular Payout" ng-model="FFC.factfinder.payOutOpt" required>Regular Payout</label>
                                </div>
                                <div ng-messages="factfinderForm.payoption.$error" class="error-messages" ng-show="factfinderForm.payoption.$invalid && !factfinderForm.payoption.$pristine">
                                    <div ng-message="required">Please select Option.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sel1">If you had 1 Lakh, how would you like to invest it?<span style="color:red">*</span></label>

                                <select class="form-control" id="sel1" ng-options="item.choice for item in FFC.equityOption track by item.choice" ng-model="FFC.factfinder.invest" name="invest" required>
                                    <option value="">select funds</option>
                                    <!--
                        <option value="90_10">Equity 90% and Debt 10 %</option>
                        <option value="60_40">Equity 60% and Debt 40 %</option>
                        <option value="30_70">Equity 30% and Debt 70 %</option>
                        <option value="0_100">Equity 0% and Debt 100 %</option>
-->
                                </select>

                                <!--
                    <ui-select ng-model="FFC.factfinder.invest" theme="bootstrap" required>
                        <ui-select-match placeholder="Choose">{{$select.selected.choice}}</ui-select-match>
                        <ui-select-choices repeat="item in FFC.equityOption | filter: $select.search">
                            <div ng-bind-html="item.choice"></div>
                        </ui-select-choices>
                    </ui-select>
-->

                                <div ng-messages="factfinderForm.invest.$error" class="error-messages" ng-show="factfinderForm.invest.$invalid && !factfinderForm.invest.$pristine">
                                    <div ng-message="required">Please select Option.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Are you comfortable investing in a Unit Linked Insurance Plan?<span style="color:red">*</span></label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="rdInvesting" value="Y" ng-model="FFC.factfinder.investing" required>Yes</label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="rdInvesting" value="N" ng-model="FFC.factfinder.investing" required>No</label>
                                </div>
                                <div ng-messages="factfinderForm.rdInvesting.$error" class="error-messages" ng-show="factfinderForm.rdInvesting.$invalid && !factfinderForm.rdInvesting.$pristine">
                                    <div ng-message="required">Please select Option.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Equity Fund<span style="color:red">*</span></label>
                                <input type="number" class="form-control custom-form" name="EquityFund" max="100" ng-required="FFC.factfinder.investing == 'Y'" ng-disabled="FFC.factfinder.investing == 'N' || FFC.factfinder.investing == null" ng-model="FFC.factfinder.equityFund" ng-change="FFC.equityChange(factfinderForm)" id="exampleInputEmail1" required>
                                <div style="color:red" ng-messages="factfinderForm.EquityFund.$error" class="error-messages" ng-show="factfinderForm.EquityFund.$invalid && !factfinderForm.EquityFund.$pristine">
                                    <div style="color:red" ng-message="max">Fund allocation cannot be more than 100%.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Balanced Fund<span style="color:red">*</span></label>
                                <input type="number" class="form-control custom-form" name="BalancedFund" max="100" ng-required="FFC.factfinder.investing == 'Y'" ng-disabled="FFC.factfinder.investing == 'N' || FFC.factfinder.investing == null" ng-maxlength="3" ng-model="FFC.factfinder.balancedFund" ng-change="FFC.equityChange(factfinderForm)" id="exampleInputEmail1" required>
                                <div style="color:red" ng-messages="factfinderForm.BalancedFund.$error" class="error-messages" ng-show="factfinderForm.BalancedFund.$invalid && !factfinderForm.BalancedFund.$pristine">
                                    <div style="color:red" ng-message="max">Fund allocation cannot be more than 100%.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Debt Fund<span style="color:red">*</span></label>
                                <input type="number" class="form-control custom-form" name="DebtFund" max="100" ng-required="FFC.factfinder.investing == 'Y'" ng-model-options="{ debounce: 1200 }" ng-disabled="FFC.factfinder.investing == 'N' || FFC.factfinder.investing == null" ng-maxlength="3" ng-model="FFC.factfinder.debtFund" ng-change="FFC.equityChange(factfinderForm)" id="exampleInputEmail1" required>
                                <div style="color:red" ng-messages="factfinderForm.DebtFund.$error" class="error-messages" ng-show="factfinderForm.DebtFund.$invalid && !factfinderForm.DebtFund.$pristine">
                                    <div style="color:red" ng-message="max">Fund allocation cannot be more than 100%.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Total<span style="color:red">*</span></label>
                                <!--
                    <input type="number" class="form-control custom-form" name="Total" max="100" ng-required="FFC.factfinder.investing == 'Y'" ng-model="FFC.total" id="exampleInputEmail1" required>
                    <div style="color:red" ng-messages="factfinderForm.Total.$error" class="error-messages" ng-show="factfinderForm.Total.$invalid && !factfinderForm.Total.$pristine">
                        <div style="color:red" ng-message="max"> Total needs to be 100 only.</div>
                    </div>
-->
                                {{FFC.total}}
                            </div>

                            <button type="submit" class="btn btn-primary btn-block" ng-click="FFC.addFactFinder()" ng-disabled="factfinderForm.$invalid">NEXT</button>
                            <button type="submit" class="btn btn-primary btn-block" ng-click="FFC.GoBackToLead()">BACK</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>