<ion-view>
    <div class="bar bar-header second-timeline-head">
        <div class="second-timeline">
            <pi-timeline></pi-timeline>
        </div>
    </div>
    <ion-content>
        <div class="user-form-wrap">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">SIS</h3>
                </div>
                <div class="panel-body">
                    <form name="sisForm" id="sisForm" novalidate>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enter Number<span style="color:red">*</span></label>
                            <input type="number" class="form-control custom-form" name="sisNumber" ng-model="SISC.sis.number" id="exampleInputEmail1" required>
                            <div style="color:red" ng-messages="sisForm.sisNumber.$error" class="error-messages" ng-show="sisForm.sisNumber.$invalid && !sisForm.sisNumber.$pristine">
                                <div style="color:red" ng-message="required">Fund allocation cannot be more than 100%.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="SISC.addSis()" ng-disabled="sisForm.$invalid">NEXT</button>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="SISC.GoBackToFactFinder()">BACK</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>