<ion-view>
    <ion-content>
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Registeration</h3>
                </div>
                <div class="panel-body">
                    <form name="regForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control custom-form" name="username" ng-model="RC.register.username" ng-pattern="RC.username_regex" id="exampleInputEmail1" validate-email-remotely required>
                            <div class="error-class" ng-messages="regForm.username.$error" ng-show="regForm.username.$invalid && !regForm.username.$pristine">
                                <div ng-message="required">Please enter username</div>     
                                <div ng-message="pattern">Special characters are not allowed</div>
                                <div ng-message="validEmail">Username already taken</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" name="email" ng-pattern="RC.email_regex" ng-model="RC.register.email" id="exampleInputEmail1" required>
                            <div class="error-class" ng-messages="regForm.email.$error" ng-show="regForm.email.$invalid && !regForm.email.$pristine">
                                <div ng-message="required">Please enter Email id</div>
                                <div ng-message="pattern">Enter email id in proper format</div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">D.O.B</label>
                            <input type="date" class="form-control" name="dob" ng-model="RC.register.dob" id="exampleInputEmail1" validate-dob required>
                            <div class="error-class" ng-messages="regForm.dob.$error" ng-show="regForm.dob.$invalid && !regForm.dob.$pristine">
                                <div ng-message="required">Please enter DOB</div>
                                <div g-message="minAge">Age should be greater than 18</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="password" ng-model="RC.register.password" id="exampleInputPassword1" required>
                            <div class="error-class" ng-messages="regForm.password.$error" ng-show="regForm.password.$invalid && !regForm.password.$pristine">
                                <div ng-message="required">Please enter Password</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" class="form-control" name="confpassword" ng-pattern="{{RC.register.password}}" ng-model="RC.register.confpassword" id="exampleInputPassword1" required>
                            <div class="error-class" ng-messages="regForm.confpassword.$error" ng-show="regForm.confpassword.$invalid && !regForm.confpassword.$pristine">
                                <div ng-message="required">Please Re-enter password</div>
                                <div ng-message="pattern">password should match</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Profile Picture</label>
                            <img ng-src="data:image/jpeg;base64,{{RC.profilePic}}" width="100px" height="auto" ng-show="RC.imgThumb" required/>
                            <input type="text" name="profpic" ng-model="RC.register.hidden" ng-required="RC.imgThumb == false" required ng-hide="true"/>
                            <button class="btn btn-block btn-info" ng-click="RC.clickPic()">{{RC.PictureBtn}}</button>
                            <div class="error-class" ng-messages="regForm.profpic.$error" ng-show="regForm.profpic.$invalid && !regForm.profpic.$pristine">
                                <div ng-message="required">Please click image</div>
                            </div>
                        </div>
                        
                        <button class="btn btn-info btn-block" type="submit" ng-click="RC.registerUser(RC.register)" ng-disabled="regForm.$invalid">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>