<ion-view>
    <div class="bar bar-header">
        <div class="second-timeline">
            <pi-timeline></pi-timeline>
        </div>
    </div>
    <ion-content>
        <div class="user-form-wrap">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Lead</h3>
                    </div>



                    <div class="panel-body">
                        <form name="regForm" novalidate>
                            <div class="form-group">
                                <label for="exampleInputEmail1">First Name<span style="color:red">*</span></label>
                                <input type="text" class="form-control custom-form" name="username" ng-model="ALC.lead.fname" ng-pattern="ALC.nameRegex" id="exampleInputEmail1" required>
                                <div class="error-class" ng-messages="regForm.username.$error" ng-show="regForm.username.$invalid && !regForm.username.$pristine">
                                    <div ng-message="required">Please enter name</div>
                                    <div ng-message="pattern">Special chars and no not allowed</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">last Name<span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="lastname" ng-model="ALC.lead.lname" ng-pattern="ALC.nameRegex" id="exampleInputEmail1" required>
                                <div class="error-class" ng-messages="regForm.lastname.$error" ng-show="regForm.lastname.$invalid && !regForm.lastname.$pristine">
                                    <div ng-message="required">Please enter last name</div>
                                    <div ng-message="pattern">Special chars and no not allowed</div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">D.O.B<span style="color:red">*</span></label>
                                <input type="date" class="form-control" name="dob" ng-model="ALC.lead.dob" id="exampleInputEmail1" validate-dob required>
                                <div class="error-class" ng-messages="regForm.dob.$error" ng-show="regForm.dob.$invalid && !regForm.dob.$pristine">
                                    <div ng-message="required">Please enter DOB</div>
                                    <div g-message="minAge">Age should be greater than 18</div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Gender<span style="color:red">*</span></label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="genderRadio" value="M" ng-model="ALC.lead.gender">Male</label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="genderRadio" value="F" ng-model="ALC.lead.gender">Female</label>
                                </div>
                                <div class="error-class" ng-messages="regForm.genderRadio.$error" ng-show="regForm.genderRadio.$invalid && !regForm.genderRadio.$pristine">
                                    <div ng-message="required">Please select gender</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Mobile<span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="mobile" ng-model="ALC.lead.mobile" ng-pattern="ALC.mobileRegex" id="exampleInputPassword1" required>
                                <div class="error-class" ng-messages="regForm.mobile.$error" ng-show="regForm.mobile.$invalid && !regForm.mobile.$pristine">
                                    <div ng-message="required">Please enter mobile no</div>
                                    <div ng-message="pattern">Please enter no in proper format</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Landline</label>
                                <input type="number" class="form-control" name="landline" ng-model="ALC.lead.landline" ng-change="ALC.landlineChange(ALC.lead.landline)" id="exampleInputPassword1">
                                <div class="error-class" ng-messages="regForm.landline.$error" ng-show="regForm.landline.$invalid && !regForm.landline.$pristine">
                                    <div ng-message="required">Please enter landline</div>
                                    <div ng-message="pattern">Please enter no in proper format</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Alternate</label>
                                <input type="number" class="form-control" name="alternate" ng-model="ALC.lead.alternate" ng-change="ALC.alternateChange(ALC.lead.alternate)" id="exampleInputPassword1">
                                <div class="error-class" ng-messages="regForm.alternate.$error" ng-show="regForm.alternate.$invalid && !regForm.alternate.$pristine">
                                    <div ng-message="required">Please enter alternate no</div>
                                    <div ng-message="pattern">Please enter no in proper format</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Preferred Contact<span style="color:red">*</span></label>
                                <select class="form-control" id="sel1" ng-model="ALC.lead.prefcontact" ng-change="ALC.prefcontactChange(ALC.lead.prefcontact)" ng-options="option.LOV_VALUE disable when (((option.LOV_CD=='2') && (!ALC.lead.landline)) || ((option.LOV_CD=='3') && (!ALC.lead.alternate))) for option in ALC.preferredContactList track by option.LOV_CD">
                                    <option value="">select preferred contact</option>
                                </select>
                                <div class="error-class" ng-messages="regForm.confpassword.$error" ng-show="regForm.confpassword.$invalid && !regForm.confpassword.$pristine">
                                    <div ng-message="required">Please select preferred contact</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">State<span style="color:red">*</span></label>

                                <select class="form-control" name="state" ng-options="item.state_desc disable when (item.state_desc=='BIHAR') for item in ALC.stateData track by item.state_code" ng-model="ALC.lead.state" ng-change="ALC.getCities(ALC.lead.state)" id="exampleInputPassword1" required>
                                    <!--ng-options="option.LOV_VALUE disable when (((option.LOV_CD=='2') && (!ALC.lead.landline)) || ((option.LOV_CD=='3') && (!ALC.lead.alternate))) for option in ALC.preferredContactList track by option.LOV_CD">
                    <option value="">select preferred contact</option>-->
                                    <option value="">select state</option>
                                </select>

                                <!--
                    <ui-select name="state" ng-model="ALC.lead.state" ng-change="ALC.getCities(ALC.lead.state)"  theme="bootstrap" required>
                        <ui-select-match placeholder="Choose">{{$select.selected.state_desc}}</ui-select-match>
                        <ui-select-choices repeat="item in ALC.stateData | filter: $select.search track by item.state_desc">
                            <div ng-bind-html="item.state_desc"></div>
                        </ui-select-choices>
                    </ui-select>
-->

                                <div class="error-class" ng-messages="regForm.state.$error" ng-show="regForm.state.$invalid && !regForm.state.$pristine">
                                    <div ng-message="required">Please select state</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">City<span style="color:red">*</span></label>

                                <select class="form-control" name="city" ng-disabled="!ALC.lead.state" ng-options="item.state_desc for item in ALC.cityByStateCode track by item.state_desc" ng-model="ALC.lead.city" id="exampleInputPassword1" ng-required="ALC.lead.state" required>
                                    <option value="">Select City</option>
                                </select>

                                <!--
                    <ui-select name="city" ng-model="ALC.lead.city" ng-disabled="!ALC.lead.state" theme="bootstrap" required>
                        <ui-select-match placeholder="Choose">{{$select.selected.state_desc}}</ui-select-match>
                        <ui-select-choices repeat="item in ALC.cityByStateCode | filter: $select.search track by item.state_desc">
                            <div ng-bind-html="item.state_desc"></div>
                        </ui-select-choices>
                    </ui-select>
-->
                                <div class="error-class" ng-messages="regForm.city.$error" ng-show="regForm.city.$invalid && !regForm.city.$pristine">
                                    <div ng-message="required">Please select city</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" ng-click="ALC.addLead()" ng-disabled="regForm.$invalid">NEXT</button>
                            <button type="submit" class="btn btn-primary btn-block" ng-click="ALC.backToDashboard()">BACK TO DASHBOARD</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>