<ion-view>
    <form name="timeline-form">
        <div class="timeline">

            <ul class="progress-indicator custom-complex">
                <li class="" ng-click="UC.timelineActiveTab('addlead')" ng-class="{'completed': UC.addleadClass}">
                    <button class="btn btn-info bubble btn-timeline"></button>Add Lead
                </li>
                <li class="" ng-class="{'completed': UC.factfinderClass}">
                    <button ng-disabled="UC.timelineFactFinder" ng-click="UC.timelineActiveTab('factfinder')" class="btn btn-info bubble btn-timeline"></button>Fact Finder
                </li>

                <li class="" ng-class="{'completed': UC.sisClass}">
                    <button ng-disabled="UC.timelineSIS" ng-click="UC.timelineActiveTab('sis')" class="btn btn-info bubble btn-timeline"></button>SIS
                </li>
                <!--
                <li class="" ng-disabled="" ng-class="" ng-click="UC.timelineActiveTab('sis')">
                    <span class="bubble"></span>
                    <i class="fa fa-check-circle"></i> SIS
                </li>
-->
                <!--
            <li class="completed">
                <span class="bubble"></span>
                <i class="fa fa-check-circle"></i> Step 4.
            </li>
            <li>
                <span class="bubble"></span> Step 5.
            </li>
-->
            </ul>
        </div>
    </form>
    
    <div class="progress-bar-wrap">
        <div class="progress custom-progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" ng-style="{'width' : UC.progressWidth + '%' }">
                <span class="sr-only">20% Complete</span>
            </div>
        </div>
    </div>


    
    <div class="tabbing">
        <div class="tabbing-list">
            <div class="tab-list" ng-class="{'active': (UC.isTabActive('addLead'))}" ng-click="UC.changeState('addLead')">Add Lead</div>
            <div class="tab-list" ng-disabled="UC.factDisabled" ng-class="{'active': (UC.isTabActive('factFinder'))}" ng-click="UC.changeState('factFinder')">Fact Finder</div>
            <div class="tab-list">SIS</div>
            
<!--{{UC.factDisabled}}-->
        </div>
    </div>
    
    



    <div class="content-scroll">
        <ion-content>
            <div class="inner-form-header">
                <div ui-view="fact-finder-content"></div>
            </div>
        </ion-content>
    </div>
    </ion-view>