<!--<h3>Timeline with ng-repeat</h3>-->
<div class="custom-tabbing">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': (pstc.PillActiveTab==obj.type)}" ng-repeat="obj in pstc.perSideTabArr" ng-click="pstc.gotoPage(obj.type)"><a ui-sref="{{obj.state}}">{{obj.name}}</a></li>
<!--<li ui-sref-active="active" ng-repeat="obj in pstc.perSideTabArr" ng-click="pstc.gotoPage(obj.type)"><a ui-sref="{{obj.state}}">{{obj.name}}</a></li>-->
    </ul>
</div>

