<ion-view>
    <ion-content>
        <!--        <div ui-view="fact-finder-content"></div>-->
        <div class="col-xs-10 col-xs-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">User Information</h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" ng-src="data:image/jpeg;base64,{{DC.user_data.prof_pic}}" width="100px" height="auto">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Welcome {{DC.user_data.user_name}}</h4>
                                <p>Username: {{DC.user_data.user_name}}</p>
                                <p>Email Id: {{DC.user_data.email_id}}</p>
                                <p>
                                    <button class="btn btn-block btn-primary" ng-click="DC.AddNewLead()">Add New Lead</button>
                                </p>
                                <p>
                                    <button class="btn btn-block btn-primary" ng-click="DC.continueUserForm()" ng-if="DC.continueLead">Continue Lead</button>
                                </p>


                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="container">
            <uib-accordion close-others="DC.oneAtATime">
                <div uib-accordion-group ng-repeat="group in DC.AccGroups track by $index" class="panel-default" is-open="DC.accordionArray[$index]">
                    <uib-accordion-heading>
                        {{group.title}} <i class="pull-right fa" ng-class="DC.accordionArray[$index] ? 'fa-angle-down':'fa-angle-right'"></i>
                    </uib-accordion-heading>
                    {{group.content}}
                </div>
            </uib-accordion>

            <div class="custom-tabbing">
                <ul class="nav nav-tabs">
                    <li ng-class="{active:DC.isSet(1)}"><a href ng-click="DC.setTab(1)">Menu 1</a></li>
                    <li ng-class="{active:DC.isSet(2)}"><a href ng-click="DC.setTab(2)">Menu 2</a></li>
                    <li ng-class="{active:DC.isSet(3)}"><a href ng-click="DC.setTab(3)">Menu 3</a></li>
                </ul>

                <div class="tab-1" ng-show="DC.isSet(1)">
                    <p>Tab 1 content</p>
                </div>
                <div class="tab-2" ng-show="DC.isSet(2)">
                    <p>Tab 2 content</p>
                </div>
                <div class="tab-3" ng-show="DC.isSet(3)">
                    <p>Tab 3 content</p>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>